.address-wrapper{
    width: 100%;
    height: 100%;
    margin: 40px auto;
}

.address-wrapper .bill{
    width: 95%;
    height: 100%;
    margin: auto;
    margin-bottom: 20px;
    text-align: left;
    color: hsl(271, 36%, 24%);
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

form{
    width: 100%;
    height: 100%;
    margin: auto;
}

.comp,
.email,
.invoNo,
.invoDa,
.invoDue{
    width: 95%;
    height: 100%;
    margin: auto;
    margin-bottom: 10px;
    color: hsl(271, 15%, 43%)
}

.invoDue,
.invoNo{
    font-weight: 700;
}

.address-wrapper form input{
    border: none;
    outline: none;
    padding: 5px;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
} 

@media screen and (max-width: 768px) {
    
    .address-wrapper .bill{
        font-size: 16px;
    }

  }