.address-wrapper{
    width: 100%;
    height: 100%;
    margin: 40px auto;
}

.address-wrapper .bill{
    width: 95%;
    height: 100%;
    margin: auto;
    margin-bottom: 20px;
    text-align: left;
    color: hsl(271, 36%, 24%);
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.comp,
.email,
.invoNo,
.invoDa,
.invoDue{
    width: 95%;
    height: 100%;
    margin: auto;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: hsl(271, 15%, 43%)
}

.invoDue{
    font-weight: 700;
    font-size: 16px;
}